{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="d-flex justify-content-center">

        <h1>Affaire: {{ensemble.id_affaires.numero}} - {{ensemble.id_affaires.chantier}}</h1>

    </div>
</div>

<div class="container">
    <div class="d-flex justify-content-center">
        <h2>Nomenclature - Avancement</h2>
    </div>
    <div>
        <a class="btn btn-primary" href="{% url 'ensembleCrea' ensemble.id 'Crea' %}">Nomenclature - Creation</a>
        <a class="btn btn-primary" href="{% url 'ensembleCrea' ensemble.id 'Prepa' %}">Nomenclature - Preparation</a>
    </div>
    
</div>

<div class="container">
    <div>
        <h3><a class="btn btn-warning" href="{% url 'ensemble' ensemble.id %}">Retour vers l'ensenble {{ensemble.numero}} - {{ensemble.nom}}</a></h3>
    </div>
    <table class="table table-hover table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Nom</th>
                <th>SE</th>
                <th>Numero</th>
                <th>Qte</th>
                <th>Usinage</th>
                <th>Debit scie</th>
                <th>Debit CN</th>
                <th>Fab</th>
                <th>Ajustage</th>
                <th>Peinture</th>
                <th>Livraison</th>
                {% if perms.suivi.change_avancement %}
                <th>Modifier</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for sousEnsemble in sousEnsembles %}
                {% with sousEnsemble.id_avancement as avancement %}
                <tr>
                    <td>{{sousEnsemble.nom}}</td>
                    <td>{{sousEnsemble.numero}}</td>
                    <td>/</td>
                    <td>{{sousEnsemble.quantite}}</td>
                    {% if avancement.usinage == 0 %}
                        <td style="background-color: #F6503D;">
                            <img src="{% static 'img/redcross.png' %}" width="auto" height="10" alt="0"></img>
                        </td>
                    {% endif %}
                    {% if avancement.usinage > '0' and avancement.usinage != '100' %}
                        <td style="background-color: #FFA926;">
                            <img src="{% static 'img/orange_dash.png' %}" width="auto" height="10" alt="EC"></img>
                        </td>
                    {% endif %}
                    {% if avancement.usinage == '100' %}
                        <td style="background-color: #5FBD16;">
                            <img src="{% static 'img/green_checkmark.png' %}" width="auto" height="10" alt="TR"></img>
                        </td>
                    {% endif %}

                    {% if avancement.debitScie == '0' %}
                        <td style="background-color: #F6503D;">
                            <img src="{% static 'img/redcross.png' %}" width="auto" height="10" alt="0"></img>
                        </td>
                    {% endif %}
                    {% if avancement.debitScie > '0' and avancement.debitScie != '100' %}
                        <td style="background-color: #FFA926;">
                            <img src="{% static 'img/orange_dash.png' %}" width="auto" height="10" alt="EC"></img>
                        </td>
                    {% endif %}
                    {% if avancement.debitScie == '100' %}
                        <td style="background-color: #5FBD16;">
                            <img src="{% static 'img/green_checkmark.png' %}" width="auto" height="10" alt="TR"></img>
                        </td>
                    {% endif %}

                    {% if avancement.debitCn == '0' %}
                        <td style="background-color: #F6503D;">
                            <img src="{% static 'img/redcross.png' %}" width="auto" height="10" alt="0"></img>
                        </td>
                    {% endif %}
                    {% if avancement.debitCn > '0' and avancement.debitCn != '100' %}
                        <td style="background-color: #FFA926;">
                            <img src="{% static 'img/orange_dash.png' %}" width="auto" height="10" alt="EC"></img>
                        </td>
                    {% endif %}
                    {% if avancement.debitCn == '100' %}
                        <td style="background-color: #5FBD16;">
                            <img src="{% static 'img/green_checkmark.png' %}" width="auto" height="10" alt="TR"></img>
                        </td>
                    {% endif %}

                    {% if avancement.fabrication == '0' %}
                        <td style="background-color: #F6503D;">
                            <img src="{% static 'img/redcross.png' %}" width="auto" height="10" alt="0"></img>
                        </td>
                    {% endif %}
                    {% if avancement.fabrication > '0' and avancement.fabrication != '100' %}
                        <td style="background-color: #FFA926;">
                            <img src="{% static 'img/orange_dash.png' %}" width="auto" height="10" alt="EC"></img>
                        </td>
                    {% endif %}
                    {% if avancement.fabrication == '100' %}
                        <td style="background-color: #5FBD16;">
                            <img src="{% static 'img/green_checkmark.png' %}" width="auto" height="10" alt="TR"></img>
                        </td>
                    {% endif %}

                    {% if avancement.ajustage_montage == '0' %}
                        <td style="background-color: #F6503D;">
                            <img src="{% static 'img/redcross.png' %}" width="auto" height="10" alt="0"></img>
                        </td>
                    {% endif %}
                    {% if avancement.ajustage_montage > '0' and avancement.ajustage_montage != '100' %}
                        <td style="background-color: #FFA926;">
                            <img src="{% static 'img/orange_dash.png' %}" width="auto" height="10" alt="EC"></img>
                        </td>
                    {% endif %}
                    {% if avancement.ajustage_montage == '100' %}
                        <td style="background-color: #5FBD16;">
                            <img src="{% static 'img/green_checkmark.png' %}" width="auto" height="10" alt="TR"></img>
                        </td>
                    {% endif %}

                    {% if avancement.peinture == '0' %}
                        <td style="background-color: #F6503D;">
                            <img src="{% static 'img/redcross.png' %}" width="auto" height="10" alt="0"></img>
                        </td>
                    {% endif %}
                    {% if avancement.peinture > '0' and avancement.peinture != '100' %}
                        <td style="background-color: #FFA926;">
                            <img src="{% static 'img/orange_dash.png' %}" width="auto" height="10" alt="EC"></img>
                        </td>
                    {% endif %}
                    {% if avancement.peinture == '100' %}
                        <td style="background-color: #5FBD16;">
                            <img src="{% static 'img/green_checkmark.png' %}" width="auto" height="10" alt="TR"></img>
                        </td>
                    {% endif %}

                    {% if avancement.livraison == True %}
                        <td style="background-color: #5FBD16;">
                            <img src="{% static 'img/green_checkmark.png' %}" width="auto" height="10" alt="TR"></img>
                        </td>
                    {% else %}
                        <td style="background-color: #F6503D;">
                            <img src="{% static 'img/redcross.png' %}" width="auto" height="10" alt="0"></img>
                        </td>
                    {% endif %}

                    {% if perms.suivi.change_avancement %}
                    <td><a class="btn btn-warning" href="{% url 'editAvancementSE' sousEnsemble.id %}">Modifier</a></td>
                    {% endif %}
                </tr>
                {% endwith %}
                {% for piece in dicoSE|get_item:sousEnsemble %}
                {% with piece.id_avancement as avancement %}
                    <tr>
                    <td>{{piece.nom}}</td>
                    <td>{{sousEnsemble.numero}}</td>
                    <td>{{piece.numero}}</td>
                    <td>{{piece.quantite}}</td>
                    {% if avancement.usinage == '0' %}
                        <td style="background-color: #F6503D;">
                            <img src="{% static 'img/redcross.png' %}" width="auto" height="10" alt="0"></img>
                        </td>
                    {% endif %}
                    {% if avancement.usinage == 'EC' %}
                        <td style="background-color: #FFA926;">
                            <img src="{% static 'img/orange_dash.png' %}" width="auto" height="10" alt="EC"></img>
                        </td>
                    {% endif %}
                    {% if avancement.usinage == 'TR' %}
                        <td style="background-color: #5FBD16;">
                            <img src="{% static 'img/green_checkmark.png' %}" width="auto" height="10" alt="TR"></img>
                        </td>
                    {% endif %}
                        
                    {% if avancement.debitScie == '0' %}
                        <td style="background-color: #F6503D;">
                            <img src="{% static 'img/redcross.png' %}" width="auto" height="10" alt="0"></img>
                        </td>
                    {% endif %}
                    {% if avancement.debitScie == 'EC' %}
                        <td style="background-color: #FFA926;">
                            <img src="{% static 'img/orange_dash.png' %}" width="auto" height="10" alt="EC"></img>
                        </td>
                    {% endif %}
                    {% if avancement.debitScie == 'TR' %}
                        <td style="background-color: #5FBD16;">
                            <img src="{% static 'img/green_checkmark.png' %}" width="auto" height="10" alt="TR"></img>
                        </td>
                    {% endif %}

                    {% if avancement.debitCn == '0' %}
                        <td style="background-color: #F6503D;">
                            <img src="{% static 'img/redcross.png' %}" width="auto" height="10" alt="0"></img>
                        </td>
                    {% endif %}
                    {% if avancement.debitCn == 'EC' %}
                        <td style="background-color: #FFA926;">
                            <img src="{% static 'img/orange_dash.png' %}" width="auto" height="10" alt="EC"></img>
                        </td>
                    {% endif %}
                    {% if avancement.debitCn == 'TR' %}
                        <td style="background-color: #5FBD16;">
                            <img src="{% static 'img/green_checkmark.png' %}" width="auto" height="10" alt="TR"></img>
                        </td>
                    {% endif %}

                    {% if avancement.fabrication == '0' %}
                        <td style="background-color: #F6503D;">
                            <img src="{% static 'img/redcross.png' %}" width="auto" height="10" alt="0"></img>
                        </td>
                    {% endif %}
                    {% if avancement.fabrication == 'EC' %}
                        <td style="background-color: #FFA926;">
                            <img src="{% static 'img/orange_dash.png' %}" width="auto" height="10" alt="EC"></img>
                        </td>
                    {% endif %}
                    {% if avancement.fabrication == 'TR' %}
                        <td style="background-color: #5FBD16;">
                            <img src="{% static 'img/green_checkmark.png' %}" width="auto" height="10" alt="TR"></img>
                        </td>
                    {% endif %}

                    {% if avancement.ajustage_montage == '0' %}
                        <td style="background-color: #F6503D;">
                            <img src="{% static 'img/redcross.png' %}" width="auto" height="10" alt="0"></img>
                        </td>
                    {% endif %}
                    {% if avancement.ajustage_montage == 'EC' %}
                        <td style="background-color: #FFA926;">
                            <img src="{% static 'img/orange_dash.png' %}" width="auto" height="10" alt="EC"></img>
                        </td>
                    {% endif %}
                    {% if avancement.ajustage_montage == 'TR' %}
                        <td style="background-color: #5FBD16;">
                            <img src="{% static 'img/green_checkmark.png' %}" width="auto" height="10" alt="TR"></img>
                        </td>
                    {% endif %}

                    {% if avancement.peinture == '0' %}
                        <td style="background-color: #F6503D;">
                            <img src="{% static 'img/redcross.png' %}" width="auto" height="10" alt="0"></img>
                        </td>
                    {% endif %}
                    {% if avancement.peinture == 'EC' %}
                        <td style="background-color: #FFA926;">
                            <img src="{% static 'img/orange_dash.png' %}" width="auto" height="10" alt="EC"></img>
                        </td>
                    {% endif %}
                    {% if avancement.peinture == 'TR' %}
                        <td style="background-color: #5FBD16;">
                            <img src="{% static 'img/green_checkmark.png' %}" width="auto" height="10" alt="TR"></img>
                        </td>
                    {% endif %}

                    {% if avancement.livraison == False %}
                        <td style="background-color: #F6503D;">
                            <img src="{% static 'img/redcross.png' %}" width="auto" height="10" alt="0"></img>
                        </td>
                    {% endif %}
                    {% if avancement.livraison == True %}
                        <td style="background-color: #5FBD16;">
                            <img src="{% static 'img/green_checkmark.png' %}" width="auto" height="10" alt="TR"></img>
                        </td>
                    {% endif %}

                    {% if perms.suivi.change_avancement %}
                    <td><a class="btn btn-warning" href="{% url 'editAvancementPiece' piece.id %}">Modifier</a></td>
                    {% endif %}
                    </tr>
                {% endwith %}
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}