{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="d-flex justify-content-center">

        <h1>Affaire: {{ensemble.id_affaires.numero}} - {{ensemble.id_affaires.chantier}}</h1>

    </div>
</div>

<div class="container">
    <div class="d-flex justify-content-center">
        <h2>Nomenclature - Avancement</h2>
    </div>
    <div>
        <a class="btn btn-primary" href="{% url 'ensembleCrea' ensemble.id 'Crea' %}">Nomenclature - Creation</a>
    </div>
    <div>
        <a class="btn btn-primary" href="{% url 'ensembleCrea' ensemble.id 'Prepa' %}">Nomenclature - Preparation</a>
    </div>
    
</div>

<div class="container">
    <div>
        <h3>{{ensemble.numero}} {{ensemble.nom}}</h3>
    </div>
    <table class="table table-hover table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Nom</th>
                <th>SE</th>
                <th>Numero</th>
                <th>Qte</th>
                <th>Usinage</th>
                <th>Debit scie</th>
                <th>Debit CN</th>
                <th>Fab</th>
                <th>Ajustage</th>
                <th>Peinture</th>
                <th>Livraison</th>
                {% if perms.suivi.change_avancement %}
                <th>Modifier</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for sousEnsemble,AvSousEnsemble in sousEnsembles %}
                <tr>
                    <td>{{sousEnsemble.nom}}</td>
                    <td>{{sousEnsemble.numero}}</td>
                    <td>/</td>
                    <td>{{sousEnsemble.quantite}}</td>
                    {% if AvSousEnsemble|get_item:usinage == '0' %}
                        <td style="background-color: #F6503D;">
                    {% endif %}
                    {% if AvSousEnsemble|get_item:usinage == 'EC' %}
                        <td style="background-color: #FFA926;">
                    {% endif %}
                    {% if AvSousEnsemble|get_item:usinage == 'TR' %}
                        <td style="background-color: #5FBD16;">
                    {% endif %}
                        
                        {% if AvSousEnsemble|get_item:usinage == '0' %}
                            <img src="{% static 'img/redcross.png' %}" width="auto" height="10" alt="0"></a>
                        {% endif %}
                        {% if AvSousEnsemble|get_item:usinage == 'EC' %}
                            <img src="{% static 'img/orange_dash.png' %}" width="auto" height="10" alt="EC"></a>
                        {% endif %}
                        {% if AvSousEnsemble|get_item:usinage == 'TR' %}
                            <img src="{% static 'img/green_checkmark.png' %}" width="auto" height="10" alt="TR"></a>
                        {% endif %}
                    </td>
                    {% if dicoAv|get_item:sousEnsemble|get_item:debitscie == '0' %}
                        <td style="background-color: #F6503D;">
                    {% endif %}
                    {% if dicoAv|get_item:sousEnsemble|get_item:debitscie == 'EC' %}
                        <td style="background-color: #FFA926;">
                    {% endif %}
                    {% if dicoAv|get_item:sousEnsemble|get_item:debitscie == 'TR' %}
                        <td style="background-color: #5FBD16;">
                    {% endif %}
                        {% if dicoAv|get_item:sousEnsemble|get_item:debitscie == '0' %}
                            <img src="{% static 'img/redcross.png' %}" width="auto" height="10" alt="0"></a>
                        {% endif %}
                        {% if dicoAv|get_item:sousEnsemble|get_item:debitscie == 'EC' %}
                            <img src="{% static 'img/orange_dash.png' %}" width="auto" height="10" alt="EC"></a>
                        {% endif %}
                        {% if dicoAv|get_item:sousEnsemble|get_item:debitscie == 'TR' %}
                            <img src="{% static 'img/green_checkmark.png' %}" width="auto" height="10" alt="TR"></a>
                        {% endif %}
                    </td>
                    {% if dicoAv|get_item:sousEnsemble|get_item:debitcn == '0' %}
                        <td style="background-color: #F6503D;">
                    {% endif %}
                    {% if dicoAv|get_item:sousEnsemble|get_item:debitcn == 'EC' %}
                        <td style="background-color: #FFA926;">
                    {% endif %}
                    {% if dicoAv|get_item:sousEnsemble|get_item:debitcn == 'TR' %}
                        <td style="background-color: #5FBD16;">
                    {% endif %}
                        {% if dicoAv|get_item:sousEnsemble|get_item:debitcn == '0' %}
                            <img src="{% static 'img/redcross.png' %}" width="auto" height="10" alt="0"></a>
                        {% endif %}
                        {% if dicoAv|get_item:sousEnsemble|get_item:debitcn == 'EC' %}
                            <img src="{% static 'img/orange_dash.png' %}" width="auto" height="10" alt="EC"></a>
                        {% endif %}
                        {% if dicoAv|get_item:sousEnsemble|get_item:debitcn == 'TR' %}
                            <img src="{% static 'img/green_checkmark.png' %}" width="auto" height="10" alt="TR"></a>
                        {% endif %}
                    </td>
                    {% if dicoAv|get_item:sousEnsemble|get_item:fabrication == '0' %}
                        <td style="background-color: #F6503D;">
                    {% endif %}
                    {% if dicoAv|get_item:sousEnsemble|get_item:fabrication == 'EC' %}
                        <td style="background-color: #FFA926;">
                    {% endif %}
                    {% if dicoAv|get_item:sousEnsemble|get_item:fabrication == 'TR' %}
                        <td style="background-color: #5FBD16;">
                    {% endif %}
                        {% if dicoAv|get_item:sousEnsemble|get_item:fabrication == '0' %}
                            <img src="{% static 'img/redcross.png' %}" width="auto" height="10" alt="0"></a>
                        {% endif %}
                        {% if dicoAv|get_item:sousEnsemble|get_item:fabrication == 'EC' %}
                            <img src="{% static 'img/orange_dash.png' %}" width="auto" height="10" alt="EC"></a>
                        {% endif %}
                        {% if dicoAv|get_item:sousEnsemble|get_item:fabrication == 'TR' %}
                            <img src="{% static 'img/green_checkmark.png' %}" width="auto" height="10" alt="TR"></a>
                        {% endif %}
                    </td>
                    {% if dicoAv|get_item:sousEnsemble|get_item:ajustage == '0' %}
                        <td style="background-color: #F6503D;">
                    {% endif %}
                    {% if dicoAv|get_item:sousEnsemble|get_item:ajustage == 'EC' %}
                        <td style="background-color: #FFA926;">
                    {% endif %}
                    {% if dicoAv|get_item:sousEnsemble|get_item:ajustage == 'TR' %}
                        <td style="background-color: #5FBD16;">
                    {% endif %}
                        {% if dicoAv|get_item:sousEnsemble|get_item:ajustage == '0' %}
                            <img src="{% static 'img/redcross.png' %}" width="auto" height="10" alt="0"></a>
                        {% endif %}
                        {% if dicoAv|get_item:sousEnsemble|get_item:ajustage == 'EC' %}
                            <img src="{% static 'img/orange_dash.png' %}" width="auto" height="10" alt="EC"></a>
                        {% endif %}
                        {% if dicoAv|get_item:sousEnsemble|get_item:ajustage == 'TR' %}
                            <img src="{% static 'img/green_checkmark.png' %}" width="auto" height="10" alt="TR"></a>
                        {% endif %}
                    </td>
                    {% if dicoAv|get_item:sousEnsemble|get_item:peinture == '0' %}
                        <td style="background-color: #F6503D;">
                    {% endif %}
                    {% if dicoAv|get_item:sousEnsemble|get_item:peinture == 'EC' %}
                        <td style="background-color: #FFA926;">
                    {% endif %}
                    {% if dicoAv|get_item:sousEnsemble|get_item:peinture == 'TR' %}
                        <td style="background-color: #5FBD16;">
                    {% endif %}
                        {% if dicoAv|get_item:sousEnsemble|get_item:peinture == '0' %}
                            <img src="{% static 'img/redcross.png' %}" width="auto" height="10" alt="0"></a>
                        {% endif %}
                        {% if dicoAv|get_item:sousEnsemble|get_item:peinture == 'EC' %}
                            <img src="{% static 'img/orange_dash.png' %}" width="auto" height="10" alt="EC"></a>
                        {% endif %}
                        {% if dicoAv|get_item:sousEnsemble|get_item:peinture == 'TR' %}
                            <img src="{% static 'img/green_checkmark.png' %}" width="auto" height="10" alt="TR"></a>
                        {% endif %}
                    </td>
                    {% if dicoAv|get_item:sousEnsemble|get_item:livraison == '0' %}
                        <td style="background-color: #F6503D;">
                    {% endif %}
                    {% if dicoAv|get_item:sousEnsemble|get_item:livraison == 'EC' %}
                        <td style="background-color: #FFA926;">
                    {% endif %}
                    {% if dicoAv|get_item:sousEnsemble|get_item:livraison == 'TR' %}
                        <td style="background-color: #5FBD16;">
                    {% endif %}
                        {% if dicoAv|get_item:sousEnsemble|get_item:livraison == '0' %}
                            <img src="{% static 'img/redcross.png' %}" width="auto" height="10" alt="0"></a>
                        {% endif %}
                        {% if dicoAv|get_item:sousEnsemble|get_item:livraison == 'EC' %}
                            <img src="{% static 'img/orange_dash.png' %}" width="auto" height="10" alt="EC"></a>
                        {% endif %}
                        {% if dicoAv|get_item:sousEnsemble|get_item:livraison == 'TR' %}
                            <img src="{% static 'img/green_checkmark.png' %}" width="auto" height="10" alt="TR"></a>
                        {% endif %}
                    </td>
                    {% if perms.suivi.change_avancement %}
                    <td><a class="btn btn-outline-warning" href="{% url 'editAvancementSE' sousEnsemble.id %}">Modifier</a></td>
                    {% endif %}
                </tr>
                {% for piece in dicoSE|get_item:sousEnsemble %}
                    <tr>
                    <td>{{piece.nom}}</td>
                    <td>{{sousEnsemble.numero}}</td>
                    <td>{{piece.numero}}</td>
                    <td>{{piece.quantite}}</td>
                    {% if dicoAv|get_item:piece|get_item:usinage == '0' %}
                        <td style="background-color: #F6503D;">
                    {% endif %}
                    {% if dicoAv|get_item:piece|get_item:usinage == 'EC' %}
                        <td style="background-color: #FFA926;">
                    {% endif %}
                    {% if dicoAv|get_item:piece|get_item:usinage == 'TR' %}
                        <td style="background-color: #5FBD16;">
                    {% endif %}
                        {% if dicoAv|get_item:piece|get_item:usinage == '0' %}
                            <img src="{% static 'img/redcross.png' %}" width="auto" height="10" alt="0"></a>
                        {% endif %}
                        {% if dicoAv|get_item:piece|get_item:usinage == 'EC' %}
                            <img src="{% static 'img/orange_dash.png' %}" width="auto" height="10" alt="EC"></a>
                        {% endif %}
                        {% if dicoAv|get_item:piece|get_item:usinage == 'TR' %}
                            <img src="{% static 'img/green_checkmark.png' %}" width="auto" height="10" alt="TR"></a>
                        {% endif %}
                    </td>
                    {% if dicoAv|get_item:piece|get_item:debitscie == '0' %}
                        <td style="background-color: #F6503D;">
                    {% endif %}
                    {% if dicoAv|get_item:piece|get_item:debitscie == 'EC' %}
                        <td style="background-color: #FFA926;">
                    {% endif %}
                    {% if dicoAv|get_item:piece|get_item:debitscie == 'TR' %}
                        <td style="background-color: #5FBD16;">
                    {% endif %}
                        {% if dicoAv|get_item:piece|get_item:debitscie == '0' %}
                           <img src="{% static 'img/redcross.png' %}" width="auto" height="10" alt="0"></a>
                        {% endif %}
                        {% if dicoAv|get_item:piece|get_item:debitscie == 'EC' %}
                            <img src="{% static 'img/orange_dash.png' %}" width="auto" height="10" alt="EC"></a>
                        {% endif %}
                        {% if dicoAv|get_item:piece|get_item:debitscie == 'TR' %}
                            <img src="{% static 'img/green_checkmark.png' %}" width="auto" height="10" alt="TR"></a>
                        {% endif %}
                    </td>
                    {% if dicoAv|get_item:piece|get_item:debitcn == '0' %}
                        <td style="background-color: #F6503D;">
                    {% endif %}
                    {% if dicoAv|get_item:piece|get_item:debitcn == 'EC' %}
                        <td style="background-color: #FFA926;">
                    {% endif %}
                    {% if dicoAv|get_item:piece|get_item:debitcn == 'TR' %}
                        <td style="background-color: #5FBD16;">
                    {% endif %}
                        {% if dicoAv|get_item:piece|get_item:debitcn == '0' %}
                           <img src="{% static 'img/redcross.png' %}" width="auto" height="10" alt="0"></a>
                        {% endif %}
                        {% if dicoAv|get_item:piece|get_item:debitcn == 'EC' %}
                        <img src="{% static 'img/orange_dash.png' %}" width="auto" height="10" alt="EC"></a>
                        {% endif %}
                        {% if dicoAv|get_item:piece|get_item:debitcn == 'TR' %}
                        <img src="{% static 'img/green_checkmark.png' %}" width="auto" height="10" alt="TR"></a>
                        {% endif %}
                    </td>
                    {% if dicoAv|get_item:piece|get_item:fabrication == '0' %}
                        <td style="background-color: #F6503D;">
                    {% endif %}
                    {% if dicoAv|get_item:piece|get_item:fabrication == 'EC' %}
                        <td style="background-color: #FFA926;">
                    {% endif %}
                    {% if dicoAv|get_item:piece|get_item:fabrication == 'TR' %}
                        <td style="background-color: #5FBD16;">
                    {% endif %}
                        {% if dicoAv|get_item:piece|get_item:fabrication == '0' %}
                           <img src="{% static 'img/redcross.png' %}" width="auto" height="10" alt="0"></a>
                        {% endif %}
                        {% if dicoAv|get_item:piece|get_item:fabrication == 'EC' %}
                            <img src="{% static 'img/orange_dash.png' %}" width="auto" height="10" alt="EC"></a>
                        {% endif %}
                        {% if dicoAv|get_item:piece|get_item:fabrication == 'TR' %}
                            <img src="{% static 'img/green_checkmark.png' %}" width="auto" height="10" alt="TR"></a>
                        {% endif %}
                    </td>
                    {% if dicoAv|get_item:piece|get_item:ajustage == '0' %}
                        <td style="background-color: #F6503D;">
                    {% endif %}
                    {% if dicoAv|get_item:piece|get_item:ajustage == 'EC' %}
                        <td style="background-color: #FFA926;">
                    {% endif %}
                    {% if dicoAv|get_item:piece|get_item:ajustage == 'TR' %}
                        <td style="background-color: #5FBD16;">
                    {% endif %}
                        {% if dicoAv|get_item:piece|get_item:ajustage == '0' %}
                           <img src="{% static 'img/redcross.png' %}" width="auto" height="10" alt="0"></a>
                        {% endif %}
                        {% if dicoAv|get_item:piece|get_item:ajustage == 'EC' %}
                            <img src="{% static 'img/orange_dash.png' %}" width="auto" height="10" alt="EC"></a>
                        {% endif %}
                        {% if dicoAv|get_item:piece|get_item:ajustage == 'TR' %}
                            <img src="{% static 'img/green_checkmark.png' %}" width="auto" height="10" alt="TR"></a>
                        {% endif %}
                    </td>
                    {% if dicoAv|get_item:piece|get_item:peinture == '0' %}
                        <td style="background-color: #F6503D;">
                    {% endif %}
                    {% if dicoAv|get_item:piece|get_item:peinture == 'EC' %}
                        <td style="background-color: #FFA926;">
                    {% endif %}
                    {% if dicoAv|get_item:piece|get_item:peinture == 'TR' %}
                        <td style="background-color: #5FBD16;">
                    {% endif %}
                        {% if dicoAv|get_item:piece|get_item:peinture == '0' %}
                           <img src="{% static 'img/redcross.png' %}" width="auto" height="10" alt="0"></a>
                        {% endif %}
                        {% if dicoAv|get_item:piece|get_item:peinture == 'EC' %}
                            <img src="{% static 'img/orange_dash.png' %}" width="auto" height="10" alt="EC"></a>
                        {% endif %}
                        {% if dicoAv|get_item:piece|get_item:peinture == 'TR' %}
                            <img src="{% static 'img/green_checkmark.png' %}" width="auto" height="10" alt="TR"></a>
                        {% endif %}
                    </td>
                    {% if dicoAv|get_item:piece|get_item:livraison == '0' %}
                        <td style="background-color: #F6503D;">
                    {% endif %}
                    {% if dicoAv|get_item:piece|get_item:livraison == 'EC' %}
                        <td style="background-color: #FFA926;">
                    {% endif %}
                    {% if dicoAv|get_item:piece|get_item:livraison == 'TR' %}
                        <td style="background-color: #5FBD16;">
                    {% endif %}
                        {% if dicoAv|get_item:piece|get_item:livraison == '0' %}
                           <img src="{% static 'img/redcross.png' %}" width="auto" height="10" alt="0"></a>
                        {% endif %}
                        {% if dicoAv|get_item:piece|get_item:livraison == 'EC' %}
                            <img src="{% static 'img/orange_dash.png' %}" width="auto" height="10" alt="EC"></a>
                        {% endif %}
                        {% if dicoAv|get_item:piece|get_item:livraison == 'TR' %}
                            <img src="{% static 'img/green_checkmark.png' %}" width="auto" height="10" alt="TR"></a>
                        {% endif %}
                    </td>
                    {% if perms.suivi.change_avancement %}
                    <td><a class="btn btn-outline-warning" href="{% url 'editAvancementPiece' piece.id %}">Modifier</a></td>
                    {% endif %}
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}