{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="d-flex justify-content-center">
        <h1>Sous-ensemble {{sousEnsemble.numero}}</h1>
    </div>
    <div class="d-flex justify-content-center">
        <h2>
            <a href="{% url 'affaire' affaire.id %}">Affaire {{affaire.numero}} - {{affaire.chantier}}</a>
        </h2>
    </div>
    <div class="d-flex justify-content-center">
        <h2>
            <a href="{% url 'outil' outil.id %}">Outil {{outil.numero}} - {{outil.nom}}</a>
        </h2>
    </div>
    <div class="d-flex justify-content-center">
        <h2>
            <a href="{% url 'ensemble' ensemble.id %}">Ensemble {{ensemble.numero}} - {{ensemble.nom }}</a>
        </h2>
    </div>
    <div class="d-flex justify-content-center">
        <a class="btn btn-outline-warning" href="{% url 'editSousEnsemble' sousEnsemble.id %}">Modifier</a>
        <a class="btn btn-outline-danger" href="{% url 'deleteSousEnsemble' sousEnsemble.id %}">Supprimer</a>
    </div>
</div>
<br>
<div class="container">
    {% if sousEnsemble.image_sous_ensemble %}
    <div>
        <img src="{{media_url}}{{sousEnsemble.image_sous_ensemble}}" alt="img" width="200" height="auto">
    </div>
    {% endif %}
    <table class="table table-hover table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Poids unitaire</th>
                <th>Taux de complexité</th>
                <th>Compagnon</th>
                <th>Nestings</th>
                <th>Feuilles de débit</th>
                <th>Couleur peinture</th>
                <th>Colisage</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{sousEnsemble.poids}}</td>
                <td>{{sousEnsemble.taux_de_complexite}}</td>
                <td>{{sousEnsemble.compagnon}}</td>
                <td>{{sousEnsemble.nestings}}</td>
                <td>{{sousEnsemble.feuilles_de_debit}}</td>
                <td>{{sousEnsemble.couleur_peinture}}</td>
                <td>{{sousEnsemble.colisage}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <h2>Avancement</h2>
    {% if perms.suivi.change_sousensemble %}
        <a class="btn btn-outline-warning" href="{% url 'editAvancementSE' avancement.id %}">Modifier l'avancement</a>
    {% endif %}
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Decoupe CN</th>
                <th>Debit</th>
                <th>Montage</th>
                <th>Soudure</th>
                <th>Montage/Ajustage</th>
                <th>Peinture</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% if avancement.debitCn == '0' %}
                    <td style="background-color: #F6503D;">                   
                        {{ avancement.debitCn }}
                    </td>
                {% elif avancement.debitCn > '0' and avancement.debitCn != '100' %}
                    <td style="background-color: #FFA926;">
                        {{avancement.debitCn}}
                    </td>
                {% elif avancement.debitCn == '100' %}
                    <td style="background-color: #5FBD16;">
                        {{avancement.debitCn}}
                    </td>
                {% else %}
                    <td style="background-color: #5FBD16">{{avancement.debitCn}}</td>
                {% endif %}

                {% if avancement.debitScie == '0' %}
                    <td style="background-color: #F6503D;">                   
                        {{ avancement.debitScie }}
                    </td>
                {% elif avancement.debitScie > '0' and avancement.debitScie != '100' %}
                    <td style="background-color: #FFA926;">
                        {{avancement.debitScie}}
                    </td>
                {% elif avancement.debitScie == '100' %}
                    <td style="background-color: #5FBD16;">
                        {{avancement.debitScie}}
                    </td>
                {% else %}
                    <td style="background-color: #5FBD16">{{avancement.debit}}</td>
                {% endif %}

                {% if avancement.montage == '0' %}
                    <td style="background-color: #F6503D;">                   
                        {{ avancement.montage }}
                    </td>
                {% elif avancement.montage > '0' and avancement.montage != '100' %}
                    <td style="background-color: #FFA926;">
                        {{avancement.montage}}
                    </td>
                {% elif avancement.debitCn == '100' %}
                    <td style="background-color: #5FBD16;">
                        {{avancement.montage}}
                    </td>
                {% else %}
                    <td style="background-color: #5FBD16">{{avancement.montage}}</td>
                {% endif %}

                {% if avancement.soudure == '0' %}
                    <td style="background-color: #F6503D;">                   
                        {{ avancement.soudure }}
                    </td>
                {% elif avancement.soudure > '0' and avancement.soudure != '100' %}
                    <td style="background-color: #FFA926;">
                        {{avancement.soudure}}
                    </td>
                {% elif avancement.soudure == '100' %}
                    <td style="background-color: #5FBD16;">
                        {{avancement.soudure}}
                    </td>
                {% else %}
                    <td style="background-color: #5FBD16">{{avancement.soudure}}</td>
                {% endif %}

                {% if avancement.ajustage_montage == '0' %}
                    <td style="background-color: #F6503D;">                   
                        {{ avancement.ajustage_montage }}
                    </td>
                {% elif avancement.ajustage_montage > '0' and avancement.ajustage_montage != '100' %}
                    <td style="background-color: #FFA926;">
                        {{avancement.ajustage_montage}}
                    </td>
                {% elif avancement.ajustage_montage == '100' %}
                    <td style="background-color: #5FBD16;">
                        {{avancement.ajustage_montage}}
                    </td>
                {% else %}
                    <td style="background-color: #5FBD16">{{avancement.ajustage_montage}}</td>
                {% endif %}

                {% if avancement.peinture == '0' %}
                    <td style="background-color: #F6503D;">                   
                        {{ avancement.peinture }}
                    </td>
                {% elif avancement.peinture > '0' and avancement.peinture != '100' %}
                    <td style="background-color: #FFA926;">
                        {{avancement.peinture}}
                    </td>
                {% elif avancement.peinture == '100' %}
                    <td style="background-color: #5FBD16;">
                        {{avancement.peinture}}
                    </td>
                {% else %}
                    <td style="background-color: #5FBD16">{{avancement.peinture}}</td>
                {% endif %}
            </tr>
        </tbody>
    </table>
</div>

<br>
<div class="container">
    <h2>Pieces</h2>
    {% if perms.suivi.add_pieces %}
        <a class="btn btn-outline-primary" href="{% url 'createPiece' sousEnsemble.id %}">Ajouter une pièce</a>
    {% endif %}
    <table class="table table-hover table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Numero</th>
                <th>Nom</th>
                <th>Quantite</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            {% for piece in pieces %}
            <tr>
                <td>{{ piece.numero }}</td>
                <td>{{ piece.nom }}</td>
                <td>{{ piece.quantite }}</td>
                <td><a class="btn btn-outline-primary" href="{% url 'piece' piece.id %}">Voir</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}